.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl
      Notifications

  .govuk-grid-column-one-third
    %nav.govuk-page-actions{"aria-labelledby" => "page-actions-title"}
      %h2#page-actions-title.govuk-heading-s{"aria-label" => "Page actions"} Actions
      %ul.govuk-page-actions--actions
        %li.govuk-page-actions--action
          = link_to 'Create a new notification', new_admin_notification_path

.govuk-grid-row
  .govuk-grid-column-two-thirds
    - if @published_notification.present?
      %h2.govuk-heading-m
        Current notification
      %details.govuk-details{ open: true }
        %summary.govuk-details__summary.govuk-heading-m
          %span.govuk-details__summary-text
            = @published_notification.summary.html_safe
        .govuk-details__text
          = @published_notification_message.html_safe
      = link_to 'Unpublish', unpublish_admin_notification_path(@published_notification), method: :post, class: 'govuk-button'
      = link_to 'Edit', new_admin_notification_path(published_notification: @published_notification), class: 'govuk-button'
    - else
      %h2.govuk-heading-m
        No notification currently published    

.govuk-grid-row
  .govuk-grid-column-full
    - if @notifications.present?
      %table.govuk-table{:class => 'govuk-!-margin-top-7'}
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header Header
            %th.govuk-table__header Published
            %th.govuk-table__header Unpublished
        %tbody.govuk-table__body
          - @notifications.each do |notification|
            %tr.govuk-table__row
              %td.govuk-table__cell= link_to notification.summary, admin_notification_path(notification.id)
              %td.govuk-table__cell= notification.published_at
              %td.govuk-table__cell= notification.unpublished_at
