.govuk-grid-row
  .govuk-grid-column-two-thirds
    %fieldset.govuk-fieldset
      %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
        %h1.govuk-fieldset__heading
          Unlink user from a supplier
    %h2.govuk-heading-m= @user.name
    %p= @user.email
    %p This user will no longer be able to complete tasks on behalf of the following supplier
    %h2.govuk-heading-m= @membership.supplier.name
    .govuk-form-group
      = form_for [:admin, @user, @membership], method: :delete do |form|
        = form.submit 'Unlink user', 'aria-label' => "Unlink user #{@user.name} from a #{@membership.supplier.name}", class: 'govuk-button'

