.govuk-grid-row
  .govuk-grid-column-two-thirds
    = link_to 'Back', admin_framework_path(@framework), { class: 'govuk-back-link govuk-!-margin-bottom-5', title: 'Back to agreement' }

    %h2.govuk-heading-l
      Are you sure you want to archive 
      = "#{@framework.short_name} #{@framework.name}?"

    = form_with url: archive_admin_framework_path(@framework), method: :post do |f|
      = f.submit "Confirm", class: "govuk-button"
