.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl= "#{@framework.short_name} #{@framework.name}"

.govuk-grid-row
  .govuk-grid-column-full
    = simple_form_for [:admin, @framework], url: update_fdl_admin_framework_path(@framework) do |form|
      %fieldset.govuk-fieldset
        %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
          %h2.govuk-fieldset__heading
            Edit framework definition

        = render partial: 'shared/error_summary', locals: { entity: @framework } if @framework.errors.present?

        = form.input :definition_source, hide_optional: true, input_html: { id: 'code-editor', class: 'govuk-textarea govuk-textarea--fdl-source language-ruby', rows: '5' }
        = form.button :submit, value: 'Save definition'

:javascript
  var myCodeMirror = CodeMirror.fromTextArea(
    document.getElementById('code-editor'),
    {
      mode: 'ruby',
      theme: 'twilight',
      lineNumbers: true
    }
  );
