.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl= "#{@framework.short_name} #{@framework.name}"

  .govuk-grid-column-one-third
    %nav.govuk-page-actions{"aria-labelledby" => "page-actions-title"}
      %h2#page-actions-title.govuk-heading-s{"aria-label" => "Page actions"} Actions
      %ul.govuk-page-actions--actions
        %li.govuk-page-actions--action
          = link_to 'Edit definition', edit_admin_framework_path(@framework.id)
        %li.govuk-page-actions--action
          = link_to 'Download users (CSV)', users_admin_framework_reports_path(@framework.id)
        %li.govuk-page-actions--action
          = link_to 'Download suppliers/lots (CSV)', lots_admin_framework_reports_path(@framework.id)

.govuk-grid-row
  .govuk-grid-column-full
    %fieldset.govuk-fieldset
      %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
        %h2.govuk-fieldset__heading
          Definition

      %textarea#code-editor{ readonly: true }= @definition_source

.govuk-grid-row
  .govuk-grid-column-full
    = simple_form_for [:admin, @framework] do |form|
      %fieldset.govuk-fieldset
        %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
          %h2.govuk-fieldset__heading
            Template

        - if @framework.template_file.attached?
          %table.govuk-table
            %thead.govuk-table__head
              %tr.govuk-table__row
                %th.govuk-table__header Name
                %th.govuk-table__header Uploaded
            %tbody.govuk-table__body
              %td.govuk-table__cell= @framework.template_file.filename
              %td.govuk-table__cell= @framework.template_file.attachment.created_at.to_s(:date_with_utc_time)

          = form.input :template_file, label: 'Replace file', hide_optional: true
        - else
          = form.input :template_file, label: 'Choose a file to upload. Accepted file types are Microsoft Excel (.xls or .xlsx).', hide_optional: true

        = form.button :submit, value: 'Upload Template'

- unless @framework.published
  .govuk-grid-row
    .govuk-grid-column-full
      = simple_form_for [:admin, @framework], url: publish_admin_framework_path(@framework) do |form|
        %fieldset.govuk-fieldset
          %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
            %h2.govuk-fieldset__heading
              Publish
          = form.button :submit, value: 'Publish framework'
