%tr.govuk-table__row
  %td.govuk-table__cell
    = task.supplier.name
  %td.govuk-table__cell
    = task.framework.short_name
    %br/
    %small
      = task.period_date.to_s(:month_year)
  %td.govuk-table__cell
    = task.active_submission.created_at.to_s(:date_with_utc_time)
    %br/
    %small
      = task.active_submission.created_by.email
  %td.govuk-table__cell
    = task.active_submission.aasm_state.titlecase
  %td.govuk-table__cell
    - if task.active_submission.files.any? && task.active_submission.files.first.file.attached?
      = link_to 'Download', admin_task_active_submission_download_path(task)
  %td.govuk-table__cell
    = link_to 'View', admin_supplier_submission_path(task.supplier, task.active_submission) if task.active_submission.validation_failed?
