%table.govuk-table
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header Supplier
      %th.govuk-table__header Task
      %th.govuk-table__header Submitted
      %th.govuk-table__header Status
      %th.govuk-table__header Return
      %th.govuk-table__header Errors
  %tbody.govuk-table__body
    - @tasks.each do |task|
      %tr.govuk-table__row
        %td.govuk-table__cell
          = link_to task.supplier.name, admin_supplier_path(task.supplier)
        %td.govuk-table__cell
          = task.framework.short_name
          %br/
          %small
            = task.period_date.to_fs(:month_year)
        %td.govuk-table__cell
          = task.latest_submission.created_at.to_fs(:date_with_utc_time)
          %br/
          %small
            = task.latest_submission.created_by.email
        %td.govuk-table__cell
          = task.latest_submission.aasm_state.titlecase
        %td.govuk-table__cell
          - if task.latest_submission.files.any? && task.latest_submission.files.first.file.attached?
            = link_to 'Download', admin_task_submission_download_path(task, task.latest_submission)
        %td.govuk-table__cell
          = link_to 'View', admin_supplier_submission_path(task.supplier, task.latest_submission) if task.latest_submission.validation_failed?
%nav.pagination.ccs-pagination{"aria-label" => "Pagination", :role => "navigation"}
  #unfinished_task_pagination_summary.ccs-pagination__summary= page_entries_info @tasks, entry_name: "task"
  #unfinished_task_pagination= paginate @tasks, :param_name => "page", remote: true
