.govuk-grid-row
  .govuk-grid-column-two-thirds
    = link_to 'Back', admin_supplier_path(@supplier), { class: 'govuk-back-link govuk-!-margin-bottom-5', title: 'Back to supplier' }

    = simple_form_for [:admin, @supplier, @task] do |form|
      %fieldset.govuk-fieldset
        %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
          %h1.govuk-fieldset__heading
            Add task to
            = @supplier.name
        = render partial: 'shared/error_summary', locals: { entity: @task } if @task.errors.present?

        = form.input :framework_id, collection: @supplier.frameworks.where(aasm_state: %w[new published]).map {|x| [x.full_name, x.id]}.sort, include_blank: false
        = form.input :period_year, collection: (Date.today.year-10..Date.today.year).to_a.reverse, selected: Date.today.last_month.year
        = form.input :period_month, collection: (1..12).map {|m| [Date::MONTHNAMES[m], m]}, selected: Date.today.last_month.month
        = form.button :submit, value: 'Create task'
