.govuk-grid-row
  .govuk-grid-column-full
    = link_to 'Back', admin_users_path, { class: 'govuk-back-link govuk-!-margin-bottom-5', title: 'Back to users' }

    %h1.govuk-heading-xl Bulk import users

.govuk-grid-row
  .govuk-grid-column-full
    = simple_form_for :bulk_import, url: admin_user_bulk_import_path do |form|
      %fieldset.govuk-fieldset
        %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
          %h2.govuk-fieldset__heading
            CSV

        = form.input :csv_file, as: :file, label: 'Choose a CSV file to upload.', hide_optional: true
        = form.button :submit, 'Upload'

        %p
          This file should contain the following columns:

        %ul.govuk-list.govuk-list--bullet
          %li name
          %li email
          %li supplier_salesforce_id

.govuk-grid-row
  .govuk-grid-column-full
    - if @bulk_user_uploads.present?
      %table.govuk-table{:class => 'govuk-!-margin-top-7'}
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header Filename
            %th.govuk-table__header Upload Date
            %th.govuk-table__header Status
        %tbody.govuk-table__body
          - @bulk_user_uploads.each do |upload|
            %tr.govuk-table__row
              %td.govuk-table__cell= upload.csv_file.filename
              %td.govuk-table__cell= upload.created_at
              %td.govuk-table__cell= upload.aasm_state