.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Users

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %form{method: 'get'}
      %h2.govuk-heading-s
        Search
      .ccs-search-form-group
        %label.govuk-label.govuk-visually-hidden{for: 'search'} Search
        %input#search{name: 'search', type: 'text', value: params[:search], class: ['govuk-!-width-two-thirds', 'govuk-input']}
        %button.govuk-button Search

  .govuk-grid-column-one-third
    %nav.govuk-page-actions{"aria-labelledby" => "page-actions-title"}
      %h2#page-actions-title.govuk-heading-s{"aria-label" => "Page actions"} Actions
      %ul.govuk-page-actions--actions
        %li.govuk-page-actions--action
          = link_to 'Add a new user', new_admin_user_path

.govuk-grid-row
  .govuk-grid-column-full
    - if @users.present?
      %table.govuk-table{:class => 'govuk-!-margin-top-7'}
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header Name
            %th.govuk-table__header Email
            %th.govuk-table__header Linked suppliers
            %th.govuk-table__header Active?
        %tbody.govuk-table__body
          - @users.each do |user|
            %tr.govuk-table__row
              %td.govuk-table__cell= link_to user.name, admin_user_path(user)
              %td.govuk-table__cell= user.email
              %td.govuk-table__cell
                = link_to_suppliers(user.suppliers)
              %td.govuk-table__cell= user.active? ? 'Active' : 'Inactive'

      = paginate @users
    - elsif params[:search]
      %p
        No users found for ‘#{params[:search]}’.
    - else
      %p
        No users.
