.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-l Add a new user

    = form_with model: @user, url: build_admin_users_path, method: :post, local: true do |f|
    
      = render partial: 'shared/error_summary', locals: { entity: @user } if @user.errors.present?

      .govuk-form-group{ class: ('govuk-form-group--error' if @user.errors[:name].any?) }
        = f.label :name, class: "govuk-label"
        - if @user.errors[:name].any?
          %span.govuk-error-message= @user.errors[:name].first
        = f.text_field :name, class: "govuk-input"

      .govuk-form-group{ class: ('govuk-form-group--error' if @user.errors[:email].any?) }
        = f.label :email, class: "govuk-label"
        - if @user.errors[:email].any?
          %span.govuk-error-message= @user.errors[:email].first
        = f.email_field :email, class: "govuk-input"

      = f.submit "Select suppliers", class: "govuk-button"
