.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl= @user.name
    %p= @user.email
    %p
      Created at:
      = @user.created_at.to_s(:date_with_utc_time)
    - unless @user.active?
      %p Inactive user

.govuk-grid-row{:class => 'govuk-!-margin-top-7'}
  .govuk-grid-column-full
    %h2.govuk-heading-m
      Linked Suppliers

    - if @memberships.present?
      %table.govuk-table
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header Name
        %tbody.govuk-table__body
          - @memberships.each do |membership|
            %tr.govuk-table__row
              %td.govuk-table__cell= link_to membership.supplier.name, admin_supplier_path(membership.supplier)
              
    -else
      %p
        No suppliers linked to
        = @user.name
