= form_tag(show_frameworks_admin_supplier_path, method: :get, enforce_utf8: false, remote: :true, id: 'framework_status_filter') do
  .govuk-grid-column-one-quarter
    #accordion-with-summary-sections.ccs-accordion.ccs-accordion--clean{"data-module" => "govuk-accordion"}
      .govuk-accordion__section.ccs-accordion__section--clean.govuk-form-group.govuk-form-group--enclosure.ccs-form-group--enclosure--tight
        .govuk-accordion__section-header
          %h2.govuk-accordion__section-heading
            %span#accordion-with-summary-sections-heading-1.govuk-accordion__section-button.ccs-accordion__section-button
              %h3.govuk-heading-s
                Filter Status
        #accordion-with-summary-sections-content-1.govuk-accordion__section-content{"aria-labelledby" => "accordion-with-summary-sections-heading-1"}
          .govuk-form-group
            %fieldset.govuk-fieldset
              %legend.govuk-fieldset__legend.govuk-fieldset__legend--m
              .govuk-checkboxes{id: 'framework-status-checkboxes'}            
                .govuk-checkboxes__item.govuk-checkboxes__item--small
                  = check_box_tag('framework_status[]', 'active', false,
                    class: 'govuk-checkboxes__input govuk-checkboxes__input--small',
                    id: 'framework_status_active')
                  = label_tag "framework_status_active", "Active", class: 'govuk-checkboxes__label'
                .govuk-checkboxes__item.govuk-checkboxes__item--small
                  = check_box_tag('framework_status[]', 'inactive', false,
                    class: 'govuk-checkboxes__input govuk-checkboxes__input--small',
                    id: 'framework_status_inactive')
                  = label_tag "framework_status_inactive", "Inactive", class: 'govuk-checkboxes__label'
    %noscript
      %p
        Please enable javascript to use filters.