%table.govuk-table
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header Name
      %th.govuk-table__header Status
      %th.govuk-table__header Actions
    %tbody.govuk-table__body
      - @agreements.each do |agreement|
        - framework = agreement.framework
        %tr.govuk-table__row{:id => "framework-#{framework.id}" }
          %td.govuk-table__cell
            = framework.full_name
          %td.govuk-table__cell
            = agreement.active? ? 'Active' : 'Inactive'
          %td.govuk-table__cell
            - if agreement.active?
              = link_to 'Deactivate', admin_supplier_agreement_confirm_deactivation_path(@supplier, agreement)
            - else
              = link_to 'Activate', admin_supplier_agreement_confirm_activation_path(@supplier, agreement)
%nav.pagination.ccs-pagination{"aria-label" => "Pagination", :role => "navigation"}
  #framework_pagination_summary.ccs-pagination__summary= page_entries_info @agreements, entry_name: "agreement"
  #framework_pagination= paginate @agreements, :param_name => "framework_page", remote: true