= form_tag(filter_tasks_admin_supplier_path, method: :get, enforce_utf8: false, remote: :true, id: 'framework_filter') do
  .govuk-grid-column-one-quarter
    .ccs-filters-intro{class: 'govuk-!-padding-1'}
      = link_to 'Clear filters', filter_tasks_admin_supplier_path, method: :get, enforce_utf8: false, id: 'clear_filter', class: 'ccs-clear-filters', 'aria-label' => 'Clear filters'
      %h2.govuk-heading-m Apply filter
    #accordion-with-summary-sections.ccs-accordion.ccs-accordion--clean{"data-module" => "govuk-accordion"}
      .govuk-accordion__section.ccs-accordion__section--clean.govuk-form-group.govuk-form-group--enclosure.ccs-form-group--enclosure--tight
        .govuk-accordion__section-header
          %h2.govuk-accordion__section-heading
            %span#accordion-with-summary-sections-heading-1.govuk-accordion__section-button.ccs-accordion__section-button
              %h3.govuk-heading-s
                Filter Status
        #accordion-with-summary-sections-content-1.govuk-accordion__section-content{"aria-labelledby" => "accordion-with-summary-sections-heading-1"}
          .govuk-form-group
            %fieldset.govuk-fieldset
              %legend.govuk-fieldset__legend.govuk-fieldset__legend--m
              .govuk-checkboxes.ccs-checkboxes--scrollable{id: 'framework-checkboxes'}
                - @frameworks.each do |framework|
                  .govuk-checkboxes__item.govuk-checkboxes__item--small
                    = check_box_tag('framework_id[]', framework.id, false,
                      id: "framework_id_#{framework.id}",
                      class: 'govuk-checkboxes__input govuk-checkboxes__input--small')
                    = label_tag "framework_id_#{framework.id}", "#{framework.name} (#{framework.short_name})", class: 'govuk-checkboxes__label'
    %noscript
      = surround "&nbsp&nbsp".html_safe do
        = submit_tag "Submit", id: 'framework-filter-submit', data: { 'prevent-double-click': true }, class: 'govuk-button'
