.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Suppliers

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %form{method: 'get'}
      %h2.govuk-heading-s
        Search
      .ccs-search-form-group
        %label.govuk-label.govuk-visually-hidden{for: 'search'} Search
        %input#search.govuk-input{name: 'search', type: 'text', value: params[:search], class: ['govuk-!-width-two-thirds', 'govuk-input']}
        %button.govuk-button Search

  .govuk-grid-column-one-third
    %nav.govuk-page-actions{"aria-labelledby" => "page-actions-title"}
      %h2#page-actions-title.govuk-heading-s{"aria-label" => "Page actions"} Actions
      %ul.govuk-page-actions--actions
        %li.govuk-page-actions--action
          = link_to 'Bulk on-board suppliers', new_admin_supplier_bulk_onboard_path
        %li.govuk-page-actions--action
          = link_to 'Remove suppliers from lots', new_admin_supplier_bulk_lot_removal_path

.govuk-grid-row
  .govuk-grid-column-full
    - if @suppliers.present?
      %table.govuk-table{:class => 'govuk-!-margin-top-7'}
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header Name
        %tbody.govuk-table__body
          - @suppliers.each do |supplier|
            %tr.govuk-table__row
              %td.govuk-table__cell= link_to supplier.name, admin_supplier_path(supplier)

      = paginate @suppliers
    - elsif params[:search]
      %p
        No suppliers found for ‘#{params[:search]}’
    - else
      %p
        No suppliers.

