.govuk-grid-row
  .govuk-grid-column-three-quarters
    %h1.govuk-heading-xl= @supplier.name

  .govuk-grid-column-one-quarter
    %nav.govuk-page-actions{"aria-labelledby" => "page-actions-title"}
      %h2#page-actions-title.govuk-heading-s{"aria-label" => "Page actions"} Actions
      %ul.govuk-page-actions--actions
        %li.govuk-page-actions--action
          = link_to 'Edit supplier', edit_admin_supplier_path(@supplier)
        %li.govuk-page-actions--action
          = link_to "Add a missing task", new_admin_supplier_task_path(@supplier)


.govuk-tabs{"data-module" => "govuk-tabs"}
  %h2.govuk-tabs__title
    Contents
  %ul.govuk-tabs__list
    %li.govuk-tabs__list-item.govuk-tabs__list-item--selected
      %a.govuk-tabs__tab{href: "#tasks"}
        Tasks
    %li.govuk-tabs__list-item
      %a.govuk-tabs__tab{href: "#users"}
        Users
    %li.govuk-tabs__list-item
      %a.govuk-tabs__tab{href: "#frameworks"}
        Frameworks
  #tasks.govuk-tabs__panel
    -if @tasks.present?
      .results{id: 'tasks-table'}= render 'show_tasks', tasks: @tasks
      %nav.pagination.ccs-pagination{"aria-label" => "Pagination", :role => "navigation"}
        #task_pagination_summary.ccs-pagination__summary= page_entries_info @tasks, entry_name: "task"
        #task_pagination= paginate @tasks, :param_name => "task_page", remote: true
    -else
      %p
        No tasks for
        = @supplier.name
  #users.govuk-tabs__panel.govuk-tabs__panel--hidden
    -if @users.present?
      = form_tag(admin_supplier_path, method: :get, enforce_utf8: false, remote: :true, id: 'user_status_filter') do
        .govuk-grid-column-one-quarter
          #accordion-with-summary-sections.ccs-accordion.ccs-accordion--clean{"data-module" => "govuk-accordion"}
            .govuk-accordion__section.ccs-accordion__section--clean.govuk-form-group.govuk-form-group--enclosure.ccs-form-group--enclosure--tight
              .govuk-accordion__section-header
                %h2.govuk-accordion__section-heading
                  %span#accordion-with-summary-sections-heading-1.govuk-accordion__section-button.ccs-accordion__section-button
                    %h3.govuk-heading-s
                      Filter Status
              #accordion-with-summary-sections-content-1.govuk-accordion__section-content{"aria-labelledby" => "accordion-with-summary-sections-heading-1"}
                .govuk-form-group
                  %fieldset.govuk-fieldset
                    %legend.govuk-fieldset__legend.govuk-fieldset__legend--m
                    .govuk-checkboxes            
                      .govuk-checkboxes__item.govuk-checkboxes__item--small
                        = check_box_tag('status[]', 'active', false,
                          class: 'govuk-checkboxes__input govuk-checkboxes__input--small')
                        = label_tag "Active", "Active", class: 'govuk-checkboxes__label'
                      .govuk-checkboxes__item.govuk-checkboxes__item--small
                        = check_box_tag('status[]', 'inactive', false,
                          class: 'govuk-checkboxes__input govuk-checkboxes__input--small')
                        = label_tag "Inactive", "Inactive", class: 'govuk-checkboxes__label'
          %noscript
            = surround "&nbsp&nbsp".html_safe do
              = submit_tag "Submit", id: 'status-filter-submit', data: { 'prevent-double-click': true }, class: 'govuk-button'
      .govuk-grid-column-three-quarters
        .results{id: 'users-table'}= render 'show_users', users: @users
        %nav.pagination.ccs-pagination{"aria-label" => "Pagination", :role => "navigation"}
          #user_pagination_summary.ccs-pagination__summary= page_entries_info @users, entry_name: "user"
          #user_pagination= paginate @users, :param_name => "user_page", remote: true
    -else
      %p
        No users linked to
        = @supplier.name
    .govuk-grid-row
  #frameworks.govuk-tabs__panel.govuk-tabs__panel--hidden
    -if @supplier.frameworks.present?
      .results{id: 'frameworks-table'}= render 'show_frameworks', frameworks: @frameworks
      %nav.pagination.ccs-pagination{"aria-label" => "Pagination", :role => "navigation"}
        #framework_pagination_summary.ccs-pagination__summary= page_entries_info @agreements, entry_name: "framework"
        #framework_pagination= paginate @agreements, :param_name => "framework_page", remote: true
    -else
      %p
        No frameworks for
        = @supplier.name

:javascript
  var checkBoxes = document.querySelectorAll(".govuk-checkboxes");
  var form = document.getElementById('user_status_filter');

  for (const check of checkBoxes) {
    check.addEventListener( 'change', function() {      
      Rails.fire(form, 'submit');
    });
  }