.govuk-grid-row
  .govuk-grid-column-three-quarters
    = link_to 'Back', admin_suppliers_path, { class: 'govuk-back-link govuk-!-margin-bottom-5', title: 'Back to suppliers' }

    %h1.govuk-heading-xl= @supplier.name

  .govuk-grid-column-one-quarter
    %nav.govuk-page-actions{"aria-labelledby" => "page-actions-title"}
      %h2#page-actions-title.govuk-heading-s{"aria-label" => "Page actions"} Actions
      %ul.govuk-page-actions--actions
        %li.govuk-page-actions--action
          = link_to 'Edit supplier', edit_admin_supplier_path(@supplier)
        %li.govuk-page-actions--action
          = link_to "Add a missing task", new_admin_supplier_task_path(@supplier)
        %li.govuk-page-actions--action
          = link_to "Add a new user", new_admin_user_path(supplier_sf_id: @supplier.salesforce_id)


.govuk-tabs{"data-module" => "govuk-tabs"}
  %h2.govuk-tabs__title
    Contents
  %ul.govuk-tabs__list
    %li.govuk-tabs__list-item.govuk-tabs__list-item--selected
      %a.govuk-tabs__tab{href: "#tasks"}
        Tasks
    %li.govuk-tabs__list-item
      %a.govuk-tabs__tab{href: "#users"}
        Users
    %li.govuk-tabs__list-item
      %a.govuk-tabs__tab{href: "#agreements"}
        Agreements
  #tasks.govuk-tabs__panel
    -if @tasks.present?
      = render 'task_filter', frameworks: @frameworks
      .govuk-grid-column-three-quarters
        .results{id: 'tasks-table'}= render 'show_tasks', tasks: @tasks
    -else
      %p
        No tasks for
        = @supplier.name
    .govuk-grid-row
  #users.govuk-tabs__panel.govuk-tabs__panel--hidden
    -if @users.present?
      = render 'user_filter'
      .govuk-grid-column-three-quarters
        .results{id: 'users-table'}= render 'show_users', users: @users
    -else
      %p
        No users linked to
        = @supplier.name
    .govuk-grid-row
  #agreements.govuk-tabs__panel.govuk-tabs__panel--hidden
    -if @supplier.frameworks.present?
      = render 'framework_filter'
      .govuk-grid-column-three-quarters
        .results{id: 'frameworks-table'}= render 'show_frameworks', frameworks: @frameworks
    -else
      %p
        No agreements for
        = @supplier.name
    .govuk-grid-row

:javascript
  var userFilterCheckBoxes = document.querySelectorAll("#user-status-checkboxes");
  var userFilterForm = document.getElementById('user_status_filter');
  var frameworkFilterCheckBoxes = document.querySelectorAll("#framework-checkboxes");
  var frameworkFilterForm = document.getElementById('framework_filter');
  var frameworkStatusFilterCheckBoxes = document.querySelectorAll("#framework-status-checkboxes");
  var frameworkStatusFilterForm = document.getElementById('framework_status_filter');
  var clearFilter = document.getElementById('clear_filter');

  for (const check of userFilterCheckBoxes) {
    check.addEventListener( 'change', function() {
      Rails.fire(userFilterForm, 'submit');
    });
  }

  for (const check of frameworkFilterCheckBoxes) {
    check.addEventListener( 'change', function() {  
      Rails.fire(frameworkFilterForm, 'submit');
    });
  }

  for (const check of frameworkStatusFilterCheckBoxes) {
    check.addEventListener( 'change', function() {  
      Rails.fire(frameworkStatusFilterForm, 'submit');
    });
  }

  clearFilter.addEventListener( 'click', function() {    
    Rails.fire(frameworkFilterForm, 'submit');
  });