.govuk-grid-row
  .govuk-grid-column-three-quarters
    %h1.govuk-heading-xl= @supplier.name

  .govuk-grid-column-one-quarter
    %nav.govuk-page-actions{"aria-labelledby" => "page-actions-title"}
      %h2#page-actions-title.govuk-heading-s{"aria-label" => "Page actions"} Actions
      %ul.govuk-page-actions--actions
        %li.govuk-page-actions--action
          = link_to 'Edit supplier', edit_admin_supplier_path(@supplier)
        %li.govuk-page-actions--action
          = link_to "Add a missing task", new_admin_supplier_task_path(@supplier)


.govuk-tabs{"data-module" => "govuk-tabs"}
  %h2.govuk-tabs__title
    Contents
  %ul.govuk-tabs__list
    %li.govuk-tabs__list-item.govuk-tabs__list-item--selected
      %a.govuk-tabs__tab{href: "#tasks"}
        Tasks
    %li.govuk-tabs__list-item
      %a.govuk-tabs__tab{href: "#users"}
        Users
    %li.govuk-tabs__list-item
      %a.govuk-tabs__tab{href: "#frameworks"}
        Frameworks
  #tasks.govuk-tabs__panel
    -if @tasks.present?
      = render 'task_filter', frameworks: @frameworks
      .govuk-grid-column-three-quarters
        .results{id: 'tasks-table'}= render 'show_tasks', tasks: @tasks
        %nav.pagination.ccs-pagination{"aria-label" => "Pagination", :role => "navigation"}
          #task_pagination_summary.ccs-pagination__summary= page_entries_info @tasks, entry_name: "task"
          #task_pagination= paginate @tasks, :param_name => "task_page", remote: true
    -else
      %p
        No tasks for
        = @supplier.name
    .govuk-grid-row
  #users.govuk-tabs__panel.govuk-tabs__panel--hidden
    -if @users.present?
      = render 'user_filter'
      .govuk-grid-column-three-quarters
        .results{id: 'users-table'}= render 'show_users', users: @users
        %nav.pagination.ccs-pagination{"aria-label" => "Pagination", :role => "navigation"}
          #user_pagination_summary.ccs-pagination__summary= page_entries_info @users, entry_name: "user"
          #user_pagination= paginate @users, :param_name => "user_page", remote: true
    -else
      %p
        No users linked to
        = @supplier.name
    .govuk-grid-row
  #frameworks.govuk-tabs__panel.govuk-tabs__panel--hidden
    -if @supplier.frameworks.present?
      .results{id: 'frameworks-table'}= render 'show_frameworks', frameworks: @frameworks
      %nav.pagination.ccs-pagination{"aria-label" => "Pagination", :role => "navigation"}
        #framework_pagination_summary.ccs-pagination__summary= page_entries_info @agreements, entry_name: "framework"
        #framework_pagination= paginate @agreements, :param_name => "framework_page", remote: true
    -else
      %p
        No frameworks for
        = @supplier.name

:javascript
  var userFilterCheckBoxes = document.querySelectorAll("#user-status-checkboxes");
  var userFilterForm = document.getElementById('user_status_filter');
  var frameworkFilterCheckBoxes = document.querySelectorAll("#framework-checkboxes");
  var frameworkFilterForm = document.getElementById('framework_filter');
  var clearFilter = document.getElementById('clear_filter');

  for (const check of userFilterCheckBoxes) {
    check.addEventListener( 'change', function() {
      Rails.fire(userFilterForm, 'submit');
    });
  }

  for (const check of frameworkFilterCheckBoxes) {
    check.addEventListener( 'change', function() {  
      Rails.fire(frameworkFilterForm, 'submit');
    });
  }

  clearFilter.addEventListener( 'click', function() {    
    Rails.fire(frameworkFilterForm, 'submit');
  });