$('#tasks-table').html("#{j (render 'show_tasks', tasks: @tasks)}")
$('#task_pagination').html("#{j (paginate(@tasks, :param_name => "task_page", :remote => true).to_s)}");
$('#task_pagination_summary').html("#{j (page_entries_info(@tasks, entry_name: "task").to_s)}");
$('#users-table').html("#{j (render 'show_users', users: @users)}")
$('#user_pagination').html("#{j (paginate(@users, :param_name => "user_page", :remote => true).to_s)}");
$('#user_pagination_summary').html("#{j (page_entries_info(@users, entry_name: "user").to_s)}");
$('#frameworks-table').html("#{j (render 'show_frameworks', frameworks: @frameworks)}")
$('#framework_pagination').html("#{j (paginate(@agreements, :param_name => "framework_page", :remote => true).to_s)}");
$('#framework_pagination_summary').html("#{j (page_entries_info(@agreements, entry_name: "framework").to_s)}");
