.govuk-grid-row
  .govuk-grid-column-three-quarters
    %h1.govuk-heading-xl= @supplier.name

  .govuk-grid-column-one-quarter
    %nav.govuk-page-actions{"aria-labelledby" => "page-actions-title"}
      %h2#page-actions-title.govuk-heading-s{"aria-label" => "Page actions"} Actions
      %ul.govuk-page-actions--actions
        %li.govuk-page-actions--action
          = link_to 'Edit supplier', edit_admin_supplier_path(@supplier)
        %li.govuk-page-actions--action
          = link_to "Add a missing task", new_admin_supplier_task_path(@supplier)


.govuk-tabs{"data-module" => "govuk-tabs"}
  %h2.govuk-tabs__title
    Contents
  %ul.govuk-tabs__list
    %li.govuk-tabs__list-item.govuk-tabs__list-item--selected
      %a.govuk-tabs__tab{href: "#tasks"}
        Tasks
    %li.govuk-tabs__list-item
      %a.govuk-tabs__tab{href: "#users"}
        Users
    %li.govuk-tabs__list-item
      %a.govuk-tabs__tab{href: "#frameworks"}
        Frameworks
  #tasks.govuk-tabs__panel
    -if @tasks.present?
      %table.govuk-table
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header Task
            %th.govuk-table__header.govuk-table__header--numeric Management Charge
            %th.govuk-table__header Submitted
            %th.govuk-table__header Status
            %th.govuk-table__header Return
            %th.govuk-table__header Errors
        %tbody.govuk-table__body
          = render(collection: @tasks, partial: "task")
      %nav.pagination.ccs-pagination{"aria-label" => "Pagination", :role => "navigation"}
        .ccs-pagination__summary= page_entries_info @tasks, entry_name: "task"
        = paginate @tasks, :param_name => "task_page"
    -else
      %p
        No tasks for
        = @supplier.name
  #users.govuk-tabs__panel.govuk-tabs__panel--hidden
    -if @users.present?
      %table.govuk-table
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header Name
            %th.govuk-table__header Email
            %th.govuk-table__header Active?
        %tbody.govuk-table__body
          - @users.each do |user|
            %tr.govuk-table__row
              %td.govuk-table__cell
                = link_to user.name, admin_user_path(user)
              %td.govuk-table__cell
                = user.email
              %td.govuk-table__cell
                = user.active? ? 'Active' : 'Inactive'
      %nav.pagination.ccs-pagination{"aria-label" => "Pagination", :role => "navigation"}
        .ccs-pagination__summary= page_entries_info @users, entry_name: "user"
        = paginate @users, :param_name => "user_page"
    -else
      %p
        No users linked to
        = @supplier.name
  #frameworks.govuk-tabs__panel.govuk-tabs__panel--hidden
    -if @supplier.frameworks.present?
      %table.govuk-table
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header Name
            %th.govuk-table__header Status
            %th.govuk-table__header Actions
        %tbody.govuk-table__body
          - @agreements.each do |agreement|
            - framework = agreement.framework
            %tr.govuk-table__row{:id => "framework-#{framework.id}" }
              %td.govuk-table__cell
                = framework.full_name
              %td.govuk-table__cell
                = agreement.active? ? 'Active' : 'Inactive'
              %td.govuk-table__cell
                - if agreement.active?
                  = link_to 'Deactivate', admin_supplier_agreement_confirm_deactivation_path(@supplier, agreement)
                - else
                  = link_to 'Activate', admin_supplier_agreement_confirm_activation_path(@supplier, agreement)
      %nav.pagination.ccs-pagination{"aria-label" => "Pagination", :role => "navigation"}
        .ccs-pagination__summary= page_entries_info @agreements, entry_name: "framework"
        = paginate @agreements, :param_name => "framework_page"
    -else
      %p
        No frameworks for
        = @supplier.name
