!!!
%html{ lang: 'en-GB', class: 'govuk-template' }
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %title RMI Admin

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }/
    %meta{ 'http-equiv': 'x-ua-compatible', content: 'ie-edge' }/
    %meta{ name: 'format-detection', content: 'telephone=no' }/

    = content_for(:head)
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body.govuk-template__body.app-body-class
    %a{ href: '#main-content', class: 'govuk-skip-link' }
      Skip to main content

    = render 'shared/header', no_navigation: false


      %main{ role: 'main', id: 'main-content', class: 'govuk-main-wrapper'}

        - flash.each do |key, value|
          = render partial: 'shared/alert', locals: { type: key, message: value }

        = yield

    = render 'shared/footer'
